<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Mall商城-注册</title>
    <link rel=" shortcut icon" href="/static/buyers/image/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/buyers/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/buyers/css/main.css">
	<script type="text/javascript" src="/static/buyers/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/buyers/js/register.js"></script>
    <script>
        $(function () {
            if ({{ user }} == 0){
                alert('注册成功')
            }
            if ({{ user }} == 1){
                alert('账户已存在')
            }
            if ({{ user }} == 2){
                alert('账户不能为空')
            }
            if ({{ user }} == 3){
                alert('密码不能为空')
            }

        })
    </script>
</head>
<body>
	<div class="register_con">
		<div class="l_con fl">
			<a href="/" class="reg_logo"><img src="/static/buyers/image/logo.jpg" width="160px"/></a>
			<div class="reg_slogan">畅听音乐 · 每一天</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="Userlogin">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form method="post" action="sign">
                    {% csrf_token %}
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">提示信息</span>
					</li>					
					<li>
						<label>密码:</label>
						<input type="password" name="user_pwd" id="pwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>确认密码:</label>
						<input type="password" name="cpwd" id="cpwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>邮箱:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">提示信息</span>
					</li>
					<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked">
						<label>同意”用户使用协议“</label>
						<span class="error_tip2">提示信息</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="注 册" name="">
					</li>
				</ul>				
				</form>
			</div>

		</div>

	</div>

	<!-- 关于-->
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 陕西218出品 All Rights Reserved</p>
		<p>电话：010-****888    陕ICP备*******8号</p>
	</div>
	
</body>
</html>