*{
	margin: 0;
	padding: 0;
}
.top_img{
	margin:0 auto;
	position:relative;
	overflow:hidden;
	list-style:none;
	padding:0;
	z-index: 1;
	text-align: center;
}
.top_img img{
	width: 100%;
	height: 380px;
}


.cont_lists{
	text-align: center;
	width: 1240px;
	display: flex;
	flex-wrap: wrap;
}
.cont_tis{
	margin: 10px;
	width: 280px;
	height: 450px;
	text-align: center;
	background-color: #FFFFFF;
}
.cont_tis:hover{
	border-bottom: 3px solid crimson;
	box-shadow: rgba(139, 139, 139, 0.7) 0.5px 2px 5px 0px;
	transition-property:border-bottom,box-shadow;
	transition-duration:300ms;
}
.cont_tis img{
	margin-top: 80px;
	width: 202px;
	height: 180px;
	transform: scale(1.0);
	transition: 300ms;
}
.cont_tis img:hover{
	transform: scale(1.1);
	transition:500ms;
} 
.cont_tis h4{
	margin-top: 60px;
}
.cont_tis p{
	margin-top: 10px;
	font-size: 14px;
	color: #808080;
}
.cont_tis span{
	display: block;
	margin-top: 20px;
	color: #DC143C;
}
