*{
	margin: 0;
	padding: 0;
}
.back{
	background: -webkit-linear-gradient(#F9F9F9, #E6E6E6); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#F9F9F9, #E6E6E6);  /*Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#F9F9F9, #E6E6E6); /* Firefox 3.6 - 15 */
	background: linear-gradient(#F9F9F9, #E6E6E6);  /*标准语法 */
}

.aa{
	text-decoration: none;
	color: #000;
}
.aa:hover{
	text-decoration: underline;
}
.hrr{
	height: 1px;
	border: none;
	border-top: 1px dashed #666;
}
/* 头部 */
.toop{
	margin:20px auto;
	width: 960px;
	height: 70px;
	display: flex;
}
.toop a{
	display: block;
	width: 340px;
	text-decoration: none;
	display: flex;
}
.toop a .yd{
	line-height: 80px;
	color: #666;
}
.toop a img{
	width: 180px;
	height: 80px;
}
.toop a div{
	margin-top: 20px;
}
.toop a div span{
	font-weight: 800;
	font-size: 20px;
	color: #666;
}
.toop a div p{
	color: #666;
}

.toop .login{
	margin-top: 10px;
	margin-left: 140px;
	width: 450px;
}

.toop .login .tdbor{
	padding-left: 10px;
	width: 50px;
	border-left: 1px solid #999;
}
.toop .login .tdbor a{
	display: block;
	width: 100px;
	color: #000000;
}
.toop .login #tijiao{
	width: 66px;
	height: 22px;
	border: 0px;
}
.toop .logof{
	margin-top: 10px;
	margin-left: 320px;
	width: 300px;
	display: none;
}
.toop .logof div{
	display: flex;
	margin-top: 10px;
}
.toop .logof a{
	display: block;
	width: auto;
	font-weight: 550;
	color: #222222;
	margin-left: 20px;
}
.toop .logof .dx{
	font-size: 15px;
}

/* 导航 */
.navg{
	margin:10px auto;
	width: 960px;
	height: 40px;
	display: flex;
	background-color: cadetblue;
	/* border: 1px solid #666; */
	border-radius: 4px;
}
.navg a{
	text-decoration: none;
}
.navg .navg_a{
	margin-left: 20px;
}
.navg .navg_g{
	margin-right: 5px;
}
.navg p{
	font-weight: 100;
	line-height: 38px;
	font-size: 28px;
	color: #FFF;
}
.navg span{
	font-weight: 600;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	display: block;
	width: auto;
}

/* 搜索栏 */
.seek{
	margin:5px auto;
	width: 960px;
	height: 40px;
	display: flex;
	border-radius: 4px;
}
.seek .seek_seek{
	margin-left: 200px;
	padding:2px;
	padding-left: 10px;
	width: 280px;
	margin-top: 6px;
	margin-left: 20px;
	line-height: 40px;
	height: 24px;
	border-radius: 5px;
	border: 1px solid  #5F9EA0;
	outline: none;
}
.seek .seek_xuanx{
	transform: scale(1.1);
}
.seek .seek_xu{
	margin-top: 10px;
	margin-left: 20px;
}
.seek .seek_xuan{
	margin-right: 10px;
	font-size: 14px;
}
.seek .seek_xl{
	margin-left: 10px;
	margin-right: 10px;
	width: 80px;
	height: 40px;
	line-height: 40px;
}
.seek .seek_xl select{
	width: 80px;
	height: 28px;
	font-size: 16px;
	padding-left: 5px;
	color: #FFF;
	background-color: #5F9EA0;
	border: 0px;
}
.seek .seek_tijiao{
	margin-top: 6px;
	width: 60px;
	height: 30px;
	border-radius: 2px;
	background-color: #5F9EA0;
	border: 0px;
	color: #FFF;
}
/* 主体 */
.cont{
	margin: 10px auto;
	width: 960px;
	display: flex;
}
.context{
	width: 740px;
	height: auto;
	border: 1px solid #d4d4d4;
}


/* 侧边栏 */
.sidebar{
	margin-left: 10px;
	width: 210px;
	height: 500px;
	border: 1px solid #d4d4d4;
}
.sidebar .sidebar_list{
	width: 210px;
	height: 30px;
}
.sidebar .sidebar_list span{
	margin-left: 10px;
	line-height: 30px;
}
.sidebar .sidebar_text{
	margin: 10px auto;
	width: 180px;
	overflow: hidden;
}
.sidebar .sidebar_text li{
	display: flex;
	list-style: none;
}
.sidebar .sidebar_text li span{
	color:#666;
	font-size: 14px;
	margin-right: 5px;
}
.sidebar .sidebar_text li p{
	white-space: nowrap;
	font-size: 14px;
	color: #111;
}

/* footer */
.footer{
	margin: 0 auto;
	width: 960px;
	height: 60px;
	border-top: 1px solid #111;
}
.footer .le{
	float: left;
}
.footer .rig{
	float: right;
	margin-top: 20px;
}

/* 活动区 */
.context .cont_list{
	width: 740px;
	height: 30px;
	position: relative;
}
.context .cont_list a{
	position: absolute;
	left: 95%;
}
.context .cont_text{
	width: 740px;
	height: 90px;
	display: flex;
}
.context .cont_text .cont_text_c{
	margin: 20px;
	display: flex;
}
.context .cont_text .cont_text_c img{
	width: 40px;
	height: 40px;
}
.context .cont_text .cont_text_c div{
	margin-left: 10px;
	margin-right: 30px;
}
.context .cont_text .cont_text_c  div span{
	font-weight: 600;
	font-size: 14px;
	color: #000000;
}
.context .cont_text .cont_text_c  div p{
	color: #000000;
	font-size: 8px;
}
.context .cont_list span{
	margin-left: 20px;
	line-height: 30px;
}
/* 讨论区 */
.context .cont_textd{
	width: 740px;
	height: 90px;
	height: 350px;
	position:relative;
}
.context .cont_textd .cont_textdd{
	display: flex;
}
.context .cont_textd a{
	width: 420px;
	display: block;
}
.context .cont_textd .cont_text_d{
	margin: 20px;
	display: flex;
}
.context .cont_textdd .cont_text_d a{
	width: auto;
	height: auto;
}
.context .cont_textd .cont_text_d img{
	width: 40px;
	height: 40px;
}
.context .cont_textd .cont_text_d div{
	margin-top: -5px;
	margin-left: 10px;
	margin-right: 30px;
}
.context .cont_textd .cont_text_d  div span{
	font-weight: 600;
	font-size: 14px;
	color: #000000;
}
.context .cont_textd .cont_text_d  div p{
	display: block;
	width: 180px;
	color: #000000;
	font-size: 8px;
}
.context .cont_textd .cont_text_pr{
	position: absolute;
	margin-top: 50px;
	left: 80%;
}